.auth {
  &.container {
    position: relative;
    background: url('https://www.dropbox.com/scl/fi/n77d6sosb4y8uy6uylygd/ocean-wave-blue-gradient-abstract-background-template-1685360681472-cover.webp?rlkey=ku06epn1ft8q6euiclw6m8hgg&st=bso8nwi4&dl=0')
      no-repeat center center/cover;
    height: 100vh;

    .dark-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
    }

    .auth-inner {
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .text {
      color: #fff;
    }

    .btn-switch {
      font-weight: 500;
      padding: 4px;
      border-radius: 20px;
      min-width: 150px;
      cursor: pointer;

      &.on {
        color: #fff;
        background-image: linear-gradient(to right, #ff2653, #ff881b);
      }
    }
  }
}
