@import '~antd/dist/antd.css';

.layout {
  .ant-layout-header {
    padding: 0 200px;
    line-height: 20px;
    background-image: linear-gradient(to right, #ff2653, #ff881b);

    &.header {
      position: fixed;
      z-index: 1;
      width: 100%;
      a {
        color: #fff !important;
      }
    }
  }

  #components-layout-demo-top-side .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }

  .ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  .site-layout-background {
    background: #fff;
  }

  .back-top {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 16px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14;
  }
}
