body {
  .product-item {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 15px;
    &:hover {
      animation-name: animZoom;
      animation-duration: 0.5s;
    }
  }

  @keyframes animZoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.02);
    }
  }

  .product-item-detail{
    background-image: linear-gradient(to right, #ff2653, #ff881b);
    padding:16px;
    border-radius: 8px;
    min-height:400px;
  }

  .product-item-money {
    display: inline-block;
    margin-bottom: 10px!important;
    font-size: 1.8rem;
    font-weight: 700;
    color: #D70018;
  }

  .option-item{
    border:1px solid #ff881b;
    padding:8px 20px;
    border-radius:8px;
  }

  .option-item-activated{
    border:1px solid blue;
    padding:8px 20px;
    border-radius:8px;
  }
}
